* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 26px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.split {
    width: 100%;
    height: 100%;
    padding: 30px;
    border: 1px solid;
}

.a {
    background: url("color.jpg");
    background-attachment: fixed;
    color: white;
}

.b {
    background: url("black.jpg");
    background-attachment: fixed;
    color: white;
}

.gutter {
    cursor: e-resize;
    height: 100%;
    background: grey;
}